.list{
  background-color: #b1c4d6;
  padding: 30px 15px;
  border-radius: 8px;
  width: 100%;

  &__item{
    width: 100%;
    margin-bottom: 20px;
    
    &__thumbnail{
      margin-bottom: 5px;
      border-radius: 8px;
      width: 100%; 
      

      &:hover{
        opacity: .8;
        transition: .5s ease all;
        cursor: pointer;
      }
    }

    &__title{
      a{
        color: #0c365e;
        &:hover{
          color: #500c5e;
          text-decoration: none;
        }
      }
    }

    &:last-child{
      margin-bottom: 0px;
    }
  }
}